---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Using bioinformatic approaches to understand the biology underlying neurodevelopmental disorders.
    image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fgalaxyproject.github.io%2Ftraining-material%2Ftopics%2Ftranscriptomics%2Ftutorials%2Frna-seq-viz-with-volcanoplot%2Ftutorial.html&psig=AOvVaw1OZDv_cmIDXlC8vmVd0v6a&ust=1595265058383000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMjpys3n2eoCFQAAAAAdAAAAABAD"
    name: Genomic Analysis
  - message: Using industry tools to learn insights from company data.
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Business Analytics
  - message: Sharing experiences and knowledge with the broader data science community.
    image: "https://placebear.com/60/60?a=.png"
    name: Blog Posts
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>This is the website for <strong>A. Ayanna Wade</strong> who is a professional with a breadth of experience that suits her well to Data Science projects.</p>

	<p>Explore the website or check out the links below to learn more.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
