---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Using bioinformatic approaches to understand neurodevelopmental disorders.
    image: "https://galaxyproject.github.io/training-material/topics/transcriptomics/images/rna-seq-viz-with-volcanoplot/volcanoplot.png"
    name: Genomic Analysis
  - message: <a href="https://ayannawade.github.io/projects">Using industry tools to learn insights from company data.</a>
    image: "https://www.r-graph-gallery.com/img/graph/209-the-options-of-barplot2.png"
    name: Business Analytics
  - message: <a href="https://ayannawade.github.io/advice/">Sharing experiences and knowledge with the broader data science community.</a>
    image: "https://ifixgeek.files.wordpress.com/2019/06/laptop-cartoon.png?w=900"
    name: Blog Posts
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>This is the website for <strong>A. Ayanna Wade</strong> who is a professional with a breadth of experience that suits her well to Data Science projects.</p>

	<p>Explore the website or check out the links below to learn more.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
